In [1]:
import pandas as pd

In [2]:
df_0=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\incident_01_06.xlsx')
df_0.head()

,INCIDENT_ID,INCIDENT_TYPE_CD,INCIDENT_SUBTYPE_CD,INCIDENT_TRAFFIC_CD,ADDRESS_JIBUN,ADDRESS_NEW,ADDR_CD,LINK_ID,LINE_LINK_ID,UPDATE_DATE,...,LOCATION_TYPE_CD,LOCATION_DATA,INCIDENT_GRADE_CD,INCIDENT_TITLE,INCIDENT_DESC,INCIDENT_REPORT,INCIDENT_REGION_CD,START_DATE,END_DATE,OPER_SGUBUN
0,L90121099787,1,2,A0503,경기 광주시 남한산성면 엄미리 산 30-4,NaN,4161037022,2.340608e+09,NaN,2023\년 \01\월 \01\일 \ 02\시 \47\분\,...,C0101,POINT(127.24570681 37.476549298848),A0402,"<사고>::중부고속도로::하남시광주시::광주IC서측::1,2차로::차량사고::::",중부고속도로 산곡JC → 광주IC 대전방향,NaN,1,2023\년 \01\월 \01\일 \ 01\시 \49\분\,2023\년 \01\월 \01\일 \ 02\시 \52\분\,K000
1,L90121099995,1,2,A0503,경기 성남시 중원구 성남동 1737,NaN,4113310100,2.050008e+09,NaN,2023\년 \01\월 \01\일 \ 03\시 \44\분\,...,C0101,POINT(127.12147931 37.43074853978889),A0402,<사고>::분당수서간도시고속화도로::탄천교::탄천IC::1차로::차량사고::::,분당수서로 벌말사거리 → 탄천IC 서울방향,NaN,1,2023\년 \01\월 \01\일 \ 03\시 \18\분\,2023\년 \01\월 \01\일 \ 03\시 \48\분\,K000
2,L90121100269,1,2,A0503,경기 안성시 금광면 옥정리 180-7,NaN,4155032032,2.310237e+09,NaN,2023\년 \01\월 \01\일 \ 06\시 \35\분\,...,C0101,POINT(127.36781366 36.9744349415798),A0402,<사고>::평택제천고속도로::금광교::금광3터널::2차로::차량사고::::,평택제천고속도로 북진천IC → 남안성IC 평택방향,NaN,1,2023\년 \01\월 \01\일 \ 06\시 \01\분\,2023\년 \01\월 \01\일 \ 06\시 \40\분\,K000
3,L90121101481,1,2,A0503,경기 오산시 부산동 173-3,NaN,4137010200,2.230344e+09,NaN,2023\년 \01\월 \01\일 \ 17\시 \07\분\,...,C0101,POINT(127.08844005 37.159888513638755),A0402,<사고>::경부고속도로::오산시화성시::오산IC북측::2차로::차량사고::::,경부고속도로 동탄JC → 오산IC 부산방향,NaN,1,2023\년 \01\월 \01\일 \ 13\시 \51\분\,2023\년 \01\월 \01\일 \ 17\시 \12\분\,K000
4,L90121102709,1,8,A0503,경기 안산시 상록구 부곡동 269-6,NaN,4127110700,2.160389e+09,NaN,2023\년 \01\월 \01\일 \ 18\시 \33\분\,...,C0101,POINT(126.87580579 37.33461882612718),A0402,<사고>::서해안고속도로::안산시상록구군포시::안산JC남측::1차로::차량고장::::,서해안고속도로 팔곡JC → 안산JC 서울방향,NaN,1,2023\년 \01\월 \01\일 \ 18\시 \20\분\,2023\년 \01\월 \01\일 \ 18\시 \50\분\,K000

In [3]:
keywords = ['화성시 영천동','화성시 청계동']
filtered_df = df_0[df_0['ADDRESS_JIBUN'].str.contains('|'.join(keywords), na=False)]

filtered_df

,INCIDENT_ID,INCIDENT_TYPE_CD,INCIDENT_SUBTYPE_CD,INCIDENT_TRAFFIC_CD,ADDRESS_JIBUN,ADDRESS_NEW,ADDR_CD,LINK_ID,LINE_LINK_ID,UPDATE_DATE,...,LOCATION_TYPE_CD,LOCATION_DATA,INCIDENT_GRADE_CD,INCIDENT_TITLE,INCIDENT_DESC,INCIDENT_REPORT,INCIDENT_REGION_CD,START_DATE,END_DATE,OPER_SGUBUN
94,L90121121108,1,2,A0503,경기 화성시 영천동 산 20-14,NaN,4159013100,2.333346e+09,NaN,2023\년 \01\월 \05\일 \ 05\시 \22\분\,...,C0101,POINT(127.0958 37.2126),A0402,<사고>::경부고속도로::기흥동탄IC::동탄JC북측::4차로::차량사고::::,경부고속도로 기흥동탄IC → 동탄JC 부산방향,NaN,1,2023\년 \01\월 \05\일 \ 04\시 \10\분\,2023\년 \01\월 \05\일 \ 05\시 \27\분\,K000
330,L90121228900,1,8,A0503,경기 화성시 영천동 651-55,NaN,4159013100,2.333346e+09,NaN,2023\년 \01\월 \14\일 \ 07\시 \02\분\,...,C0101,POINT(127.0949 37.2048),A0402,<사고>::경부고속도로::동탄JC북측::기흥동탄IC::5차로::차량고장::::,경부고속도로 동탄JC → 기흥IC 서울방향,NaN,1,2023\년 \01\월 \14\일 \ 06\시 \36\분\,2023\년 \01\월 \14\일 \ 07\시 \06\분\,K000
337,L90121232921,1,9,A0503,경기 화성시 영천동 102-2,NaN,4159013100,2.334289e+09,NaN,2023\년 \01\월 \14\일 \ 09\시 \45\분\,...,C0101,POINT(127.097 37.2161),A0402,<사고>::경부고속도로::기흥동탄IC::기흥동탄IC::1차로::장애물::::,경부고속도로 동탄JC → 기흥IC 서울방향,NaN,1,2023\년 \01\월 \14\일 \ 09\시 \22\분\,2023\년 \01\월 \14\일 \ 09\시 \52\분\,K000
468,L90121315868,1,2,A0503,경기 화성시 영천동 산 20-14,NaN,4159013100,2.333346e+09,NaN,2023\년 \01\월 \18\일 \ 23\시 \39\분\,...,C0101,POINT(127.09581197 37.21315864108517),A0402,<사고>::경부고속도로::기흥동탄IC::동탄JC북측::1차로::차량사고::::,경부고속도로 기흥동탄IC → 동탄JC 부산방향,NaN,1,2023\년 \01\월 \18\일 \ 23\시 \32\분\,2023\년 \01\월 \19\일 \ 00\시 \02\분\,K000
582,L90121348690,1,2,A0503,경기 화성시 영천동 102-2,NaN,4159013100,2.440060e+09,NaN,2023\년 \01\월 \22\일 \ 19\시 \07\분\,...,C0101,POINT(127.097 37.2161),A0402,<사고>::경부고속도로::기흥IC남측::기흥동탄IC::4차로::차량사고::::,경부고속도로 기흥IC → 동탄JC 부산방향,NaN,1,2023\년 \01\월 \22\일 \ 18\시 \36\분\,2023\년 \01\월 \22\일 \ 19\시 \12\분\,K000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206086,L93123563275,5,10,A0502,경기 화성시 청계동 555,경기 화성시 동탄순환대로22길 14,4159013000,2.333686e+09,2333685900,2023\년 \06\월 \07\일 \ 11\시 \02\분\,...,C0101,POINT(127.1196969 37.1956052),A0402,<통제>::동탄순환대로22길::청계동554::호반베르디움아파트::1차로::주의운전::공사,NaN,<통제>::동탄순환대로22길::청계동554::호반베르디움아파트::1차로::주의운전::공사,19,2023\년 \06\월 \07\일 \ 10\시 \33\분\,2023\년 \06\월 \07\일 \ 11\시 \03\분\,P000
206396,L93123211881,5,10,A0502,경기 화성시 청계동 538,경기도 화성시 동탄순환대로21길 54,4159013000,2.333520e+09,2333520001,2023\년 \05\월 \22\일 \ 13\시 \20\분\,...,C0101,POINT(127.11649649972222 37.198214199999995),A0402,<통제>::동탄순환대로::신안인스빌리베라2차::청계동554::1차로::주의운전::공사,NaN,<통제>::동탄순환대로::신안인스빌리베라2차::청계동554::1차로::주의운전::공사,19,2023\년 \05\월 \20\일 \ 14\시 \37\분\,2023\년 \05\월 \20\일 \ 16\시 \07\분\,P000
206401,L93123212995,5,10,A0502,경기 화성시 영천동 168,경기 화성시 동탄기흥로 614,4159013100,2.333462e+09,2333461900,2023\년 \05\월 \22\일 \ 13\시 \21\분\,...,C0101,POINT(127.09444969972222 37.216112199722225),A0402,<통제>::지방도317호선::영천교차로::기흥동탄TG밑지하도남I::1차로::주의운전...,NaN,<통제>::지방도317호선::영천교차로::기흥동탄TG밑지하도남I::1차로::주의운전...,19,2023\년 \05\월 \20\일 \ 16\시 \12\분\,2023\년 \05\월 \20\일 \ 18\시 \42\분\,P000
209304,L90121494330,5,10,A0503,경기 화성시 영천동 898-1,NaN,4159013100,2.334289e+09,NaN,2023\년 \02\월 \07\일 \ 11\시 \25\분\,...,C0101,POINT(127.08891216 37.214468243491),A0402,<통제>::동부대로::화성시용인시기흥구::기흥1교남측::1차로::공사::::,화성시 동부대로 기흥1교 → 운암교차로 오산방향,NaN,1,2023\년 \02\월 \07\일 \ 10\시 \07\분\,2023\년 \02\월 \07\일 \ 11\시 \30\분\,K000
209314,L90121636764,5,10,A0503,경기 화성시 영천동 898-1,NaN,4159013100,2.333451e+09,NaN,2023\년 \02\월 \21\일 \ 11\시 \29\분\,...,C0101,POINT(127.08849141 37.21113467471115),A0402,<통제>::지방도311호선::동탄2지하차도북측::기흥1교남측::3차로::공사::::,화성시 동부대로 영천교차로 → 기흥1교 용인방향,NaN,1,2023\년 \02\월 \21\일 \ 11\시 \18\분\,2023\년 \02\월 \21\일 \ 11\시 \48\분\,K000

In [4]:
#copy 에러 무시

pd.set_option('mode.chained_assignment',  None)

In [5]:
df=filtered_df[['INCIDENT_ID','INCIDENT_TRAFFIC_CD','LINK_ID','INCIDENT_GRADE_CD', 'START_DATE', 'END_DATE']]

In [6]:
df['START_DATE']=df['START_DATE'].astype(str)
df['END_DATE']=df['END_DATE'].astype(str)

In [7]:
from datetime import datetime

In [8]:
def convert_to_datetime(date_str):
    try:
        datetime_format = '%Y\\년 \\%m\\월 \\%d\\일 \\ %H\\시 \\%M\\분\\'
        date = datetime.strptime(date_str, datetime_format)
        return date
    except ValueError:
        return '2022-01-01 00:00:00'

In [9]:
# 데이터 변환

df['START_DATE']=df['START_DATE'].apply(convert_to_datetime)
df['END_DATE']=df['END_DATE'].apply(convert_to_datetime)

df['START_DATE']=pd.to_datetime(df['START_DATE'])
df['END_DATE']=pd.to_datetime(df['END_DATE'])
df['DuringTime']=df['END_DATE']-df['START_DATE']

In [10]:
incident_df=df

In [11]:
# LINK_ID 결측치 삭제(확인결과 차량 통행에 영향 주지 않는 사고들)

incident_df=incident_df.dropna(subset=['LINK_ID'])

In [12]:
link_df=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\link_char.xlsx', sheet_name='hoyeon')

In [13]:
link_df.columns

Index(['intersection', 'num', 'new avn', 'link_id_near', 'link_id_mid',
       'link_id_far', 'max spd', 'length_near', 'length_mid', 'length_far',
       'length_sum', 'lane'],
      dtype='object')

In [14]:
link_df_1=link_df[['new avn', 'link_id_near', 'link_id_mid', 'link_id_far']]
link_df_1.head()

   new avn link_id_near   link_id_mid   link_id_far
0    40222   2333521700           NaN           NaN
1    40223   2333521800           NaN           NaN
2    40224   2333520302  2.333520e+09           NaN
3    40221   2333520600  2.333519e+09  2.333519e+09
4    40233   2333855300  2.333854e+09  2.333518e+09

In [15]:
merged_near = pd.merge(incident_df,link_df_1, left_on='LINK_ID', right_on='link_id_near', how='inner')
merged_near=merged_near.drop(columns=['link_id_near','link_id_mid','link_id_far'])
merged_near['near_incident']=1
merged_near

,INCIDENT_ID,INCIDENT_TRAFFIC_CD,LINK_ID,INCIDENT_GRADE_CD,START_DATE,END_DATE,DuringTime,new avn,near_incident
0,L93121806031,A0502,2333855300.0,A0402,2023-03-14 10:30:00,2023-03-17 10:30:00,3 days 00:00:00,40233,1
1,L93122952372,A0502,2333855300.0,A0402,2023-05-07 17:30:00,2023-05-10 17:30:00,3 days 00:00:00,40233,1
2,L93122173281,A0502,2333515602.0,A0402,2023-04-04 09:43:00,2023-04-04 10:13:00,0 days 00:30:00,40351,1
3,L93121854232,A0502,2333515602.0,A0402,2023-03-18 09:44:00,2023-03-18 18:00:00,0 days 08:16:00,40351,1
4,L93121854985,A0502,2333514900.0,A0402,2023-03-18 10:51:00,2023-03-18 18:00:00,0 days 07:09:00,40352,1

In [16]:
merged_mid = pd.merge(incident_df, link_df_1, left_on='LINK_ID', right_on='link_id_mid', how='inner')
merged_mid=merged_mid.drop(columns=['link_id_near','link_id_mid','link_id_far'])
merged_mid['mid_incident']=1
merged_mid

,INCIDENT_ID,INCIDENT_TRAFFIC_CD,LINK_ID,INCIDENT_GRADE_CD,START_DATE,END_DATE,DuringTime,new avn,mid_incident
0,L93121432568,A0502,2.333515e+09,A0402,2023-01-28 08:37:00,2023-01-28 09:07:00,0 days 00:30:00,40343,1
1,L93123207003,A0502,2.333516e+09,A0402,2023-05-20 06:30:00,2023-05-23 06:30:00,3 days 00:00:00,40351,1
2,L93123418794,A0502,2.333516e+09,A0402,2023-05-30 07:00:00,2023-06-02 07:00:00,3 days 00:00:00,40351,1

In [56]:
merged_far = pd.merge(incident_df, link_df_1, left_on='LINK_ID', right_on='link_id_far', how='inner')
merged_far=merged_far.drop(columns=['link_id_near','link_id_mid','link_id_far'])
merged_far['far_incident']=1
merged_far

,INCIDENT_ID,INCIDENT_TRAFFIC_CD,LINK_ID,INCIDENT_GRADE_CD,START_DATE,END_DATE,DuringTime,new avn,far_incident
0,L93123323817,A0502,2.333518e+09,A0402,2023-05-26 10:00:00,2023-05-26 11:00:00,0 days 01:00:00,40314,1
1,L93124025008,A0502,2.333517e+09,A0402,2023-06-25 16:00:00,2023-06-28 16:00:00,3 days 00:00:00,40373,1
2,L93122122647,A0502,2.333519e+09,A0402,2023-04-01 10:59:00,2023-04-01 18:00:00,0 days 07:01:00,40221,1

In [134]:
merged_df = pd.merge(merged_near, merged_mid, how='outer')
merged_df = pd.merge(merged_df, merged_far, how='outer')
merged_df

C:\Users\ajou\AppData\Local\Temp\ipykernel_6308\2185145060.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  merged_df = pd.merge(merged_near, merged_mid, how='outer')
C:\Users\ajou\AppData\Local\Temp\ipykernel_6308\2185145060.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  merged_df = pd.merge(merged_df, merged_far, how='outer')

,INCIDENT_ID,INCIDENT_TRAFFIC_CD,LINK_ID,INCIDENT_GRADE_CD,START_DATE,END_DATE,DuringTime,new avn,near_incident,mid_incident,far_incident
0,L93121806031,A0502,2333855300.0,A0402,2023-03-14 10:30:00,2023-03-17 10:30:00,3 days 00:00:00,40233,1.0,NaN,NaN
1,L93122952372,A0502,2333855300.0,A0402,2023-05-07 17:30:00,2023-05-10 17:30:00,3 days 00:00:00,40233,1.0,NaN,NaN
2,L93122173281,A0502,2333515602.0,A0402,2023-04-04 09:43:00,2023-04-04 10:13:00,0 days 00:30:00,40351,1.0,NaN,NaN
3,L93121854232,A0502,2333515602.0,A0402,2023-03-18 09:44:00,2023-03-18 18:00:00,0 days 08:16:00,40351,1.0,NaN,NaN
4,L93121854985,A0502,2333514900.0,A0402,2023-03-18 10:51:00,2023-03-18 18:00:00,0 days 07:09:00,40352,1.0,NaN,NaN
5,L93121432568,A0502,2333515301.0,A0402,2023-01-28 08:37:00,2023-01-28 09:07:00,0 days 00:30:00,40343,NaN,1.0,NaN
6,L93123207003,A0502,2333515601.0,A0402,2023-05-20 06:30:00,2023-05-23 06:30:00,3 days 00:00:00,40351,NaN,1.0,NaN
7,L93123418794,A0502,2333515601.0,A0402,2023-05-30 07:00:00,2023-06-02 07:00:00,3 days 00:00:00,40351,NaN,1.0,NaN
8,L93123323817,A0502,2333517801.0,A0402,2023-05-26 10:00:00,2023-05-26 11:00:00,0 days 01:00:00,40314,NaN,NaN,1.0
9,L93124025008,A0502,2333517006.0,A0402,2023-06-25 16:00:00,2023-06-28 16:00:00,3 days 00:00:00,40373,NaN,NaN,1.0
10,L93122122647,A0502,2333519101.0,A0402,2023-04-01 10:59:00,2023-04-01 18:00:00,0 days 07:01:00,40221,NaN,NaN,1.0

In [135]:
merged_df.columns

Index(['INCIDENT_ID', 'INCIDENT_TRAFFIC_CD', 'LINK_ID', 'INCIDENT_GRADE_CD',
       'START_DATE', 'END_DATE', 'DuringTime', 'new avn', 'near_incident',
       'mid_incident', 'far_incident'],
      dtype='object')

In [136]:
merged_df

,INCIDENT_ID,INCIDENT_TRAFFIC_CD,LINK_ID,INCIDENT_GRADE_CD,START_DATE,END_DATE,DuringTime,new avn,near_incident,mid_incident,far_incident
0,L93121806031,A0502,2333855300.0,A0402,2023-03-14 10:30:00,2023-03-17 10:30:00,3 days 00:00:00,40233,1.0,NaN,NaN
1,L93122952372,A0502,2333855300.0,A0402,2023-05-07 17:30:00,2023-05-10 17:30:00,3 days 00:00:00,40233,1.0,NaN,NaN
2,L93122173281,A0502,2333515602.0,A0402,2023-04-04 09:43:00,2023-04-04 10:13:00,0 days 00:30:00,40351,1.0,NaN,NaN
3,L93121854232,A0502,2333515602.0,A0402,2023-03-18 09:44:00,2023-03-18 18:00:00,0 days 08:16:00,40351,1.0,NaN,NaN
4,L93121854985,A0502,2333514900.0,A0402,2023-03-18 10:51:00,2023-03-18 18:00:00,0 days 07:09:00,40352,1.0,NaN,NaN
5,L93121432568,A0502,2333515301.0,A0402,2023-01-28 08:37:00,2023-01-28 09:07:00,0 days 00:30:00,40343,NaN,1.0,NaN
6,L93123207003,A0502,2333515601.0,A0402,2023-05-20 06:30:00,2023-05-23 06:30:00,3 days 00:00:00,40351,NaN,1.0,NaN
7,L93123418794,A0502,2333515601.0,A0402,2023-05-30 07:00:00,2023-06-02 07:00:00,3 days 00:00:00,40351,NaN,1.0,NaN
8,L93123323817,A0502,2333517801.0,A0402,2023-05-26 10:00:00,2023-05-26 11:00:00,0 days 01:00:00,40314,NaN,NaN,1.0
9,L93124025008,A0502,2333517006.0,A0402,2023-06-25 16:00:00,2023-06-28 16:00:00,3 days 00:00:00,40373,NaN,NaN,1.0
10,L93122122647,A0502,2333519101.0,A0402,2023-04-01 10:59:00,2023-04-01 18:00:00,0 days 07:01:00,40221,NaN,NaN,1.0

In [137]:
#소통등급+돌발등급으로 돌발 영향도 정함
#원활+B등급 -> 원활+A등급 -> 서행+B등급 -> 서행+A등급 -> 지체+B등급 -> 지체+A등급  순서대로 심각도 정함

value_map_GCD={'A0401':1,'A0402':0.5}
value_map_TCD={'A0501':0,'A0502':1,'A0503':2}
value_map_near={1:'N'}
value_map_mid={1:'M'}
value_map_far={1:'F'}

In [138]:
merged_df['INCIDENT_TRAFFIC_CD']=merged_df['INCIDENT_TRAFFIC_CD'].map(value_map_TCD)
merged_df['INCIDENT_GRADE_CD']=merged_df['INCIDENT_GRADE_CD'].map(value_map_GCD)
merged_df['near_incident']=merged_df['near_incident'].map(value_map_near)
merged_df['mid_incident']=merged_df['mid_incident'].map(value_map_mid)
merged_df['far_incident']=merged_df['far_incident'].map(value_map_far)

In [140]:
merged_df['INCIDENT_LV']=merged_df['INCIDENT_TRAFFIC_CD']+merged_df['INCIDENT_TRAFFIC_CD']

In [141]:
merged_df.drop(['INCIDENT_ID','LINK_ID','INCIDENT_TRAFFIC_CD','INCIDENT_GRADE_CD'],axis=1,inplace=True)
merged_df

,START_DATE,END_DATE,DuringTime,new avn,near_incident,mid_incident,far_incident,INCIDENT_LV
0,2023-03-14 10:30:00,2023-03-17 10:30:00,3 days 00:00:00,40233,N,NaN,NaN,2
1,2023-05-07 17:30:00,2023-05-10 17:30:00,3 days 00:00:00,40233,N,NaN,NaN,2
2,2023-04-04 09:43:00,2023-04-04 10:13:00,0 days 00:30:00,40351,N,NaN,NaN,2
3,2023-03-18 09:44:00,2023-03-18 18:00:00,0 days 08:16:00,40351,N,NaN,NaN,2
4,2023-03-18 10:51:00,2023-03-18 18:00:00,0 days 07:09:00,40352,N,NaN,NaN,2
5,2023-01-28 08:37:00,2023-01-28 09:07:00,0 days 00:30:00,40343,NaN,M,NaN,2
6,2023-05-20 06:30:00,2023-05-23 06:30:00,3 days 00:00:00,40351,NaN,M,NaN,2
7,2023-05-30 07:00:00,2023-06-02 07:00:00,3 days 00:00:00,40351,NaN,M,NaN,2
8,2023-05-26 10:00:00,2023-05-26 11:00:00,0 days 01:00:00,40314,NaN,NaN,F,2
9,2023-06-25 16:00:00,2023-06-28 16:00:00,3 days 00:00:00,40373,NaN,NaN,F,2
10,2023-04-01 10:59:00,2023-04-01 18:00:00,0 days 07:01:00,40221,NaN,NaN,F,2

In [144]:
# 이어붙이는 함수 정의
def concat_incidents(row):
    concatenated = ""
    for column in ['INCIDENT_LV', 'near_incident', 'mid_incident', 'far_incident']:
        if not pd.isna(row[column]):
            concatenated += str(row[column])
    return concatenated

# 새로운 컬럼 추가
merged_df['incident_state'] = merged_df.apply(concat_incidents, axis=1)

In [150]:
incident_avn=merged_df.drop(columns=['INCIDENT_LV', 'near_incident', 'mid_incident', 'far_incident'])

In [151]:
incident_avn

,START_DATE,END_DATE,DuringTime,new avn,incident_state
0,2023-03-14 10:30:00,2023-03-17 10:30:00,3 days 00:00:00,40233,2N
1,2023-05-07 17:30:00,2023-05-10 17:30:00,3 days 00:00:00,40233,2N
2,2023-04-04 09:43:00,2023-04-04 10:13:00,0 days 00:30:00,40351,2N
3,2023-03-18 09:44:00,2023-03-18 18:00:00,0 days 08:16:00,40351,2N
4,2023-03-18 10:51:00,2023-03-18 18:00:00,0 days 07:09:00,40352,2N
5,2023-01-28 08:37:00,2023-01-28 09:07:00,0 days 00:30:00,40343,2M
6,2023-05-20 06:30:00,2023-05-23 06:30:00,3 days 00:00:00,40351,2M
7,2023-05-30 07:00:00,2023-06-02 07:00:00,3 days 00:00:00,40351,2M
8,2023-05-26 10:00:00,2023-05-26 11:00:00,0 days 01:00:00,40314,2F
9,2023-06-25 16:00:00,2023-06-28 16:00:00,3 days 00:00:00,40373,2F
10,2023-04-01 10:59:00,2023-04-01 18:00:00,0 days 07:01:00,40221,2F

In [152]:
#near,mid,far은 명목형 변수
#향후 딥러닝 모델 내에 Embedding 레이어를 추가하여 명목형 변수를 처리하도록 !!!

In [153]:
df1 = pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\for_incidentcode.xlsx')
df2 = incident_avn

In [154]:
df1['time']=pd.to_datetime(df1['time'])
df1=df1.set_index('time')

In [155]:
# df1과 df2의 'avn' 컬럼 값들을 가져와 avn_list에 저장
avn_list = df2['new avn'].unique()

# 각 avn별로 df2의 정보를 활용하여 df1을 업데이트
for avn in avn_list:
    avn_rows = df2[df2['new avn'] == avn]  # 현재 avn에 해당하는 df2의 행들
    for _, row in avn_rows.iterrows():
        start_time = pd.Timestamp(row['START_DATE'])
        end_time = pd.Timestamp(row['END_DATE'])
        incident_state = row['incident_state']
        
        # start_time과 end_time을 가장 가까운 5분 단위로 반올림
        rounded_start_time = start_time.round('5T')
        rounded_end_time = end_time.round('5T')
        
        # Find the indices corresponding to the rounded times
        start_idx = df1.index[df1.index == rounded_start_time][0]
        end_idx = df1.index[df1.index == rounded_end_time][0]
        
        # Update the incident_state values in df1
        df1.loc[start_idx:end_idx, avn] = incident_state

,40221,40222,40223,40224,40231,40232,40233,40234,40241,40242,...,40373,40374,40381,40382,40383,40384,40391,40392,40393,40394
time,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-28 23:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 23:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
#제대로 되었나 확인함
#df1[df1.notna().any(axis=1)]

,40221,40222,40223,40224,40231,40232,40233,40234,40241,40242,...,40373,40374,40381,40382,40383,40384,40391,40392,40393,40394
time,,,,,,,,,,,,,,,,,,,,,
2023-01-28 08:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-28 08:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-28 08:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-28 08:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-28 08:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-28 15:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 15:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 15:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 15:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-28 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
df2=df1.reset_index()
df2=df2.fillna(0)

In [160]:
# Excel 파일명과 시트명
excel_file = 'C:\\Users\\ajou\\Desktop\\Data\\dongtan\\incident.xlsx'
sheet_name = 'occur'

# Excel 파일 열기
excel_writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')

In [161]:
# 새로운 DataFrame 저장
df2.to_excel(excel_writer, sheet_name=sheet_name, index=False)

# 파일 저장 및 닫기
excel_writer.save()
excel_writer.close()

C:\Users\ajou\AppData\Local\Temp\ipykernel_6308\1550024056.py:5: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excel_writer.save()