In [96]:
import pandas as pd

phase_thr=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\signal.xlsx', sheet_name='phase_thr')
phase_left=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\signal.xlsx', sheet_name='phase_left')
phase_weekdays=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\signal.xlsx', sheet_name='phase_weekdays')
phase_weekend=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\signal.xlsx', sheet_name='phase_weekend')
phase_time_thr=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\signal.xlsx', sheet_name='phase time_thr')
phase_time_left=pd.read_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\signal.xlsx', sheet_name='phase time_left')

In [97]:
phase_weekend.head()

   time  intersection  offset  t1  t2  t3  t4  t5  t6
0     5           269     132  88  40  50  42   0   0
1    10           269     132  88  40  50  42   0   0
2    16           269     132  88  40  50  42   0   0
3    22           269     132  88  40  50  42   0   0
4     5           576       8  35  65  30  60  30   0

In [114]:
from datetime import datetime, timedelta

# 시작 날짜와 시간 설정
start_date = datetime(2023, 1, 1)
current_date = start_date

# 초단위로 증가하는 컬럼을 저장할 리스트 생성
time_column = []

# 데이터프레임의 행 수
#num_rows = 16000000 
num_rows=160

# 초단위로 증가하는 컬럼 생성
for _ in range(num_rows):
    time_column.append(current_date)
    current_date += timedelta(seconds=1)

# 데이터프레임 생성
data = {'Timestamp': time_column}
df = pd.DataFrame(data)

print(df)

              Timestamp
0   2023-01-01 00:00:00
1   2023-01-01 00:00:01
2   2023-01-01 00:00:02
3   2023-01-01 00:00:03
4   2023-01-01 00:00:04
..                  ...
155 2023-01-01 00:02:35
156 2023-01-01 00:02:36
157 2023-01-01 00:02:37
158 2023-01-01 00:02:38
159 2023-01-01 00:02:39

[160 rows x 1 columns]

In [99]:
df

                   Timestamp
0        2023-01-01 00:00:00
1        2023-01-01 00:00:01
2        2023-01-01 00:00:02
3        2023-01-01 00:00:03
4        2023-01-01 00:00:04
...                      ...
15999995 2023-07-05 04:26:35
15999996 2023-07-05 04:26:36
15999997 2023-07-05 04:26:37
15999998 2023-07-05 04:26:38
15999999 2023-07-05 04:26:39

[16000000 rows x 1 columns]

In [100]:
phase_weekend

    time  intersection  offset   t1  t2  t3  t4  t5  t6
0      5           269     132   88  40  50  42   0   0
1     10           269     132   88  40  50  42   0   0
2     16           269     132   88  40  50  42   0   0
3     22           269     132   88  40  50  42   0   0
4      5           576       8   35  65  30  60  30   0
5     10           576       8   35  65  30  60  30   0
6     16           576       8   35  65  30  60  30   0
7     22           576       8   35  65  30  60  30   0
8      5           582      21   92  32  62  34   0   0
9     10           582      21   92  32  62  34   0   0
10    16           582      21   92  32  62  34   0   0
11    22           582      21   92  32  62  34   0   0
12     5           238     173   76  42  17  59  26   0
13    10           238     173   76  42  17  59  26   0
14    16           238     173   76  42  17  59  26   0
15    22           238     173   76  42  17  59  26   0
16     5           574     141   30  71  25  36  14  44
17    10           574     141   30  71  25  36  14  44
18    16           574     141   30  71  25  36  14  44
19    22           574     141   30  71  25  36  14  44
20     5           202     155   35  69  20  61  35   0
21    10           202     155   35  69  20  61  35   0
22    16           202     155   35  69  20  61  35   0
23    22           202     155   35  69  20  61  35   0
24     5           572     139   30  98  27  28  37   0
25    10           572     139   30  98  27  28  37   0
26    16           572     139   30  98  27  28  37   0
27    22           572     139   30  98  27  28  37   0
28     5           571      10   35  52  24  44  65   0
29    10           571      10   35  52  24  44  65   0
30    16           571      10   35  52  24  44  65   0
31    22           571      10   35  52  24  44  65   0
32     5           203      23  102  30  44  44   0   0
33    10           203      23  102  30  44  44   0   0
34    16           203      23  102  30  44  44   0   0
35    22           203      23  102  30  44  44   0   0
36     5           208      29   30  76  30  44  40   0
37    10           208      29   30  76  30  44  40   0
38    16           208      29   30  76  30  44  40   0
39    22           208      29   30  76  30  44  40   0
40     5           205      91  100  40  40  40   0   0
41    10           205      91  100  40  40  40   0   0
42    16           205      91  100  40  40  40   0   0
43    22           205      91  100  40  40  40   0   0

In [101]:
offset={269:132,576:8,582:21,238:173,574:141,202:155,572:139,571:10,203:23,208:29,205:91}

In [102]:
inter=list(offset.keys())

In [103]:
len(inter)

11

In [104]:
columns=[40221,  40222,  40223,  40224,  40231,  40232,  40233,  40234,
        40241,  40242,  40243,  40244,  40311,  40312,  40313,  40314,  40321,
        40322,  40323,  40324,  40331,  40332,  40333,  40334,  40341,  40342,
        40343,  40344,  40351,  40352,  40353,  40354,  40371,  40372,  40373,
        40374,  40381,  40382,  40383,  40384,  40391,  40392,  40393,  40394]

In [113]:
def filter_rows(plan,phase,time,link):
    search_value=link
    intersection_row= phase[phase.applymap(lambda cell: str(search_value) in str(cell)).any(axis=1)]
    
    for column in intersection_row.columns:
        if (intersection_row[column].apply(lambda cell: str(search_value) in str(cell))).any():
              
            column_value=column
    
    intersection=intersection_row.iloc[0,0]
    filtered_rows = plan[(plan['time'] == time) & (plan['intersection'] == intersection)]
    
    return filtered_rows,column_value

In [110]:
intersection_column= phase_thr[phase_thr.applymap(lambda cell: str(40221) in str(cell)).any(axis=1)]
intersection_column

   intersection       t1  t2       t3       t4  t5  t6
0           269  40222.0 NaN  40221.0  40223.0 NaN NaN

In [106]:
filter_rows(phase_weekend,phase_thr,5,40221)

   time  intersection  offset  t1  t2  t3  t4  t5  t6
0     5           269     132  88  40  50  42   0   0

In [107]:
phase_thr.head()

   intersection       t1       t2       t3       t4  t5  t6
0           269  40222.0      NaN  40221.0  40223.0 NaN NaN
1           269  40224.0      NaN      NaN      NaN NaN NaN
2           576  40233.0  40231.0  40231.0  40234.0 NaN NaN
3           576      NaN  40233.0      NaN  40232.0 NaN NaN
4           582  40241.0      NaN  40244.0      NaN NaN NaN

In [ ]:
#직진 신호 계산

for j in range(len(inter)): #교차로 수만큼 반복
    for i in range(df.shape[0]): #행 수만큼 반복하여 진행
        
        if df.iloc(i,0).weekday >=5: # 주말이라면 weekend/ 평일이면 weekdays로 진행
        plan= phase_weekend
    plan=phase_weekdays
    
    filter_rows(phase_weekend,phase_thr,5,40221)
     filtered_plan= filter_rows(plan,5,inter(j))
    if i< filtered_plan.iloc(0,2):
        df[inter(j)].iloc(i,0)=0
    else:
        df[inter(j)].iloc(i,0)=1

In [ ]:
#직진 신호 계산

for k in range(len(columns)): #링크만큼 반복:
    link=columns[k]
    for i in range(df.shape[0]): #초마다 계산
        if df.iloc[i,0].weekday >=5: # 현재 주말이라면 weekend/ 평일이면 weekdays TOD로 진행
            plan=phase_weekend
        else:
            plan=phase_weekdays
            
            
        if (df.iloc[i,0].hour>=5
            filtered_plan=filter_rows(plan,phase_thr,5,link)[0]   
            offset=filtered_plan.iloc[0,2]
            t1=filtered_plan.iloc[0,3]
            t2=filtered_plan.iloc[0,4]
            t3=filtered_plan.iloc[0,5]
            t4=filtered_plan.iloc[0,6]
            t5=filtered_plan.iloc[0,7]
            t6=filtered_plan.iloc[0,8]
            
            
        elif df.iloc[i,0].hour>=10:
            filtered_plan=filter_rows(plan,phase_thr,10,link)[0]   
            offset=filtered_plan.iloc[0,2]
            t1=filtered_plan.iloc[0,3]
            t2=filtered_plan.iloc[0,4]
            t3=filtered_plan.iloc[0,5]
            t4=filtered_plan.iloc[0,6]
            t5=filtered_plan.iloc[0,7]
            t6=filtered_plan.iloc[0,8]
            
            
        elif df.iloc[i,0].hour>=16:
            filtered_plan=filter_rows(plan,phase_thr,16,link)[0]   
            offset=filtered_plan.iloc[0,2]
            t1=filtered_plan.iloc[0,3]
            t2=filtered_plan.iloc[0,4]
            t3=filtered_plan.iloc[0,5]
            t4=filtered_plan.iloc[0,6]
            t5=filtered_plan.iloc[0,7]
            t6=filtered_plan.iloc[0,8]
            
            
        elif (df.iloc[i,0].hour>=22) or (df.iloc[i,0].hour<5):
            filtered_plan=filter_rows(plan,phase_thr,22,link)[0]   
            offset=filtered_plan.iloc[0,2]
            t1=filtered_plan.iloc[0,3]
            t2=filtered_plan.iloc[0,4]
            t3=filtered_plan.iloc[0,5]
            t4=filtered_plan.iloc[0,6]
            t5=filtered_plan.iloc[0,7]
            t6=filtered_plan.iloc[0,8]
        
        phase_time=filter_rows(plan,phase_thr,5,link)[1]
    
        if df.iloc[i,0]<offset:
            df[link].iloc[i,0]=0